# if you use heroku, don't write on .env, write on the heroku config
APP_KEY=sample
APP_LOG=errorlog
APP_URL=https://sample.com
DATABASE_URL=sample
DB_CONNECTION=pgsql
DB_DATABASE=sample
DB_HOST=sample
DB_PASSWORD=sample
DB_PORT=5432
DB_USERNAME=sample
EMAIL_SAMPLE_01=test@test.com
EMAIL_SAMPLE_02=test@test.com
EMAIL_SAMPLE_03=test@test.com
LINE_ACCESS_TOKEN=sample
LINE_CHANNEL_SECRET=sample
LINE_ID_SAMPLE=sample
SENDGRID_API_KEY=sample
SENDGRID_PASSWORD=sample
SENDGRID_USERNAME=sample
TZ=America/Vancouver
